################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/9c8c8c41-0db3-4d76-b317-eeed9dd19a2b.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/e4b4b6f9-2fae-46d6-8809-bedf7f409e00.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/51f3f438-1eb1-4556-8e44-57ccf8b2b244.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/d9262b57-4fdd-4dcb-a9aa-d37018ebcb3a.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/12db24aa-559b-47cb-8316-548f39f2e381.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/80c34b2d-060e-4513-b069-d746cde44409.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/413f93c9-7391-4d07-9542-43c077d6c0c5.vsidx
/CVT Workflow/CVT Workflow - V30/CVT Workflow/.vs/CVT Workflow/FileContentIndex/e0fba6a0-dcfa-411d-9a1d-6d489eb694d8.vsidx
